section{
    margin: 0;
    padding: 0;
    font-family: Arial;
}

.container {
    display: flex;
    ;
}

.selected-table {
    width: 42px;
    height: 20px;
    margin-left: 0;
    padding: 5px;
}

table,th,td{
    table-layout: fixed;
    height: 20px;
    margin-left: 0;
    padding: 5px;
    text-align: center;
    border: 2px solid #000000;
    border-collapse: collapse;
}

.search-table {
    margin-left: 30px;
    padding: 5px;
}

.selected-table :first-child{
    width: 20px;
}

.selected-table :not(:first-child) {
    width: 42px;
}