<!DOCTYPE html>
<html lang="zh-tw">
<head>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="/static/search.css">
    <meta charset="UTF-8">
    <title>逢甲大學選課系統</title>
</head>
<body>
<div class="topContent">
    <div>
        <img name="ccu-logo" src="{{url_for('static', filename='imgs/ccu.png')}}" height="60px" alt="ccu-logo">
        <span class="banner1" style="font-size: 30px">甲甲大學選課系統</span>
    </div>
    <div class="catalog">
        <a href="http://127.0.0.1:5000/search">
            課程搜尋
        </a>&nbsp
        <a href="http://127.0.0.1:5000/enrolledtable">
            已選詳細課表
        </a>&nbsp
    </div>
</div>
<script src="{{url_for('static', filename='button.js')}}"></script>
<div class="fcol">
    <header>依輸入條件查詢</header>
</div>
<div class="require">
    
    <form method="POST">
        <input type="checkbox" name="Select-Code" id="select-code">
        <lable> 選課代號 : </lable>
        <input type="text" name="Code" id = "code" maxlength="4" placeholder="請輸入代號">
        <br>

        <input type="checkbox" name="Select-Day" id="select-day">
        <lable> 星期 : </lable>
        <select name="Day" id="day">
            <option value="Monday">星期一</option>
            <option value="Tuesday">星期二</option>
            <option value="Wednesday">星期三</option>
            <option value="Thursday">星期四</option>
            <option value="Friday">星期五</option>

        </select>
        <!-- <input type="number"  id="time" maxlength="4" placeholder="textEntery" min="1" max="5" required> -->
        <br>

        <input type="checkbox" name="Select-Coursename" id="select-coursename">
        <lable> 科目名稱 : </lable>
        <input type="text" name="Coursename" id="coursename" maxlength="20" placeholder="請輸入名稱">
        <br>


        <input type="checkbox" name="Select-Instructorname" id="select-instructorname">
        <lable> 開課教師姓名 : </lable>
        <input type="text" name="Instructorname" id="instructorname" maxlength="4" placeholder="請輸入姓名">
        <br>
        
        <input type="submit" onclick="auth()">
    </form>
</div>
</body>
<div id="table-container" class="container">
    <div>
        <table class="selected-table">
            <tr>
                <td>0</td>
                <td>Mon</td>
                <td>Tue</td>
                <td>Wed</td>
                <td>Thu</td>
                <td>Fri</td>
            </tr>
            <tr>
                <td>1</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>2</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>3</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>4</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>5</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr >
                <td>6</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>7</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>8</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>9</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>10</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>11</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>12</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>13</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>14</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </table>
    </div>

    <div>
        {% if courses %}
        <table class="search-table">
            <tr>
                <td>選課代號</td>
                <td>課程名稱</td>
                <td>學分</td>
                <td>開課教師</td>
                <td>時間</td>
                <td>教室</td>
                <td>選課</td>
            </tr>
            {% for course in courses %}
            <tr>
                <form method="POST">
                    <td name="Submit-course">{{course[0]}}</td>
                    <td>{{course[1]}}</td>
                    <td>{{course[6]}}</td>
                    <td>{{course[5]}}</td>
                    
                    <td>
                        {% for cresult in cresults %}
                            {% if cresult[0] == course[0] %}
                                ({{cresult[8]}}) {{cresult[7]}},
                            {% endif %}
                            
                        {% endfor %}
                    </td>
                    
                    <td>{{course[9]}}</td>
                    
                    <td>
                        <!-- 
                            if 有名額: 
                                if 已選: 
                                    btn -> 退選; 
                                else:
                                    btn -> 加選;
                                加選; 
                            elif 沒名額:  
                                btn -> 關注;  # 排隊抽籤
                        -->
                        <form method>
                        <input type="submit", name="Enroll", value="選課" >
                        
                    </td>
                </form>
            </tr>
            {% endfor %}
        </table>
        {% endif %}
    </div>

</div>
</html>