<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="search.css">
    <meta charset="UTF-8">
    <title>甲甲大學選課系統 - 查詢關注</title>
</head>
<body>
<script src="button.js"></script>
<div class="fcol">
    <header>依輸入條件查詢</header>
</div>
<div class="require">
    <lable> 選課代號 : </lable>
    <input type="text" id = "code" maxlength="4" palceholder="textEntery" required>
    <input type="submit" onclick="auth_code()">
    <br>

    <lable> 星期 : </lable>
    <input type="number"  id="time" maxlength="4" palceholder="textEntery" min="1" max="5" required>
    <input type="submit" onclick="auth_time()">
    <br>

    <lable> 科目名稱 : </lable>
    <input type="text"  id="name" maxlength="4" palceholder="textEntery" required>
    <input type="submit" onclick="auth_name()">
    <br>

    <lable> 開課教師姓名 : </lable>
    <input type="text" id="teachername" maxl ength="4" palceholder="textEntery" required>
    <input type="submit" onclick="auth_teachername()">
    <br>

    </div>
<table bgcolor="#add8e6">
    <tr class="day" bgcolor="#808080">
        <td>0</td>
        <td>Mon</td>
        <td>Tue</td>
        <td>Wed</td>
        <td>Thu</td>
        <td>Fri</td>
        <td>Sat</td>
        <td>Fri</td>
    </tr>
    <div class="course"><tr bgcolor="#d3d3d3">
    </tr>
        <td>1</td>
        <td>Math</td>
        <td>Mandarin</td>
        <td>Science</td>
        <td>PE</td>
        <td>English</td>
        <tr bgcolor="#d3d3d3">
            <td>2</td>
        </tr>
        <tr bgcolor="#d3d3d3">
            <td>3</td>
        </tr>
        <tr bgcolor="#d3d3d3">
            <td>4</td>
        </tr>
        <tr bgcolor="#d3d3d3">
            <td>5</td>
        </tr>
        <tr bgcolor="#d3d3d3">
            <td>6</td>
        </tr>
        <tr bgcolor="#d3d3d3">
            <td>7</td>
        </tr>
        <tr bgcolor="#d3d3d3">
            <td>8</td>
        </tr>
        <tr bgcolor="#d3d3d3">
            <td>9</td>
        </tr>
        <tr bgcolor="#d3d3d3">
            <td>10</td>
        </tr>
        <tr bgcolor="#d3d3d3">
            <td>11</td>
        </tr>
        <tr bgcolor="#d3d3d3">
            <td>12</td>
        </tr>
        <tr bgcolor="#d3d3d3">
            <td>13</td>
        </tr>
        <tr bgcolor="#d3d3d3">
            <td>14</td>
        </tr></div>
</table>
</body>
</html>